@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(#1a1f25, #17131c);
  color: #f5f5f5;
  min-height: 100vh;
}

.block {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 46rem;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(102, 102, 102);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h2 {
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #ffc247;
}
